.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
}

.sidebar.open {
  width: 450px;
  
}

.sidebar a {
  padding: 25px 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.divider {
  border-bottom: 1px solid white;
  margin: 8px 32px;
  width: 200px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sidebar a:first-child {
  font-size: 36px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 25px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: white;
  transform: rotate(-20deg);
  width: 36px;
  height: 36px;
}
.closebtn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.closebtn span::before,
.closebtn span::after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: white;
  top: 50%;
  left: 50%;
}

.closebtn span::before {
  /* Longer line */
  width: 140%;
  transform: translateX(-50%) translateY(-50%) rotate(66deg);
}

.closebtn span::after {
  /* Shorter line */
  width: 120%;
  transform: translateX(-45%) translateY(-50%) rotate(-25deg);
}
.sidebar-btn {
  font-size: 36px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
}

.sidebar-btn:hover {
  color: #f1f1f1;
}
